#About {
    width: 100%;
    height: auto;
    position: relative;
}


#About img {
    width: 100%;
}

.item_img {
    width: 50vw;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_img img {
    width: 100%;
}


.symbol {
    width: 100%;
}



.about_inner {
    width: 100%;
    height: 100vh;
}

.mywrap-inner {
    width: 50vw;
}

.my-wrap {
    width: 100%;
    height: 100vh;
    padding-left: 80px;
}

.about-wrap1 {
    justify-content: space-between;
}

.about_title {
    position: sticky;
    top: 50px;
    left: 0;
    width: 50%;
    height: 6vw;
    font-size: 5vw;
    font-weight: 900;
    font-family: var(--mainEng-font);
    text-transform: uppercase;
    color: var(--black);
    background: var(--mainBg-color);
    border-bottom: .4vw solid var(--black);
    padding-left: 20px;
    margin-top: 10px;
    z-index: 2;
}

.about-wrap1 h3 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 8px;
}


ul.skill-list {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background: var(--subBg100);
}


.inform {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background: var(--subBg100);
    font-size: 1.4vw;
    padding: 20px;
    margin-bottom: 30px;
}

/* keywords */
#AboutK {
    position: relative;
    width: 100%;
}

.about-keywords {
    width: 100%;
    height: 100vh;
}

.about-keywords h4 {
    position: sticky;
    width: 100%;
    top: 70px;
    left: 0;
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 700;
    height: 7vw;
    margin-top: 10px;
    padding: 20px;
}

.profile-wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.profile-inner {
    width: 70%;
    height: 100%;
    font-size: 6vw;
    gap: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.pr2,
.pr8 {
    animation: dance 2s infinite ease-out;
}

.pr5,
.pr11 {
    animation: dance_jump 2s infinite ease-out;
}

@keyframes dance {
    0% {
        transform: none;
    }

    15% {
        transform: rotate(3deg);
    }

    30% {
        transform: rotate(-3deg);
    }

    45% {
        transform: rotate(3deg);
    }

    60% {
        transform: translate3d(0, -5%, 0);
    }

    75% {
        transform: translate3d(0, 1%, 0);
    }

    85% {
        transform: translate3d(0, -3%, 0);
    }

    100% {
        transform: none;
    }
}

@keyframes dance_jump {
    0% {
        transform: none;
    }

    15% {
        transform: rotate(-3deg);
    }

    30% {
        transform: rotate(3deg);
    }

    45% {
        transform: rotate(-3deg);
    }

    60% {
        transform: translate3d(0, -5%, 0);
    }

    75% {
        transform: translate3d(0, 1%, 0);
    }

    85% {
        transform: translate3d(0, -3%, 0);
    }

    100% {
        transform: none;
    }
}


/* aboutpage */


#AboutMe {
    width: 100vw;
    height: 100vh;
}


.bg1 {
    background-image: url(../../../public/imgs/profilew.jpg);
    background-size: contain;
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 50vw;
    height: 100vh;
    border-radius: 100px;
}

.columns {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


ul.item_intro li {
    position: absolute;
}


.a1 .introduce {
    background: var(--subBg100);
    border-radius: 30px;
    padding: 20px;
    width: 100%;
}

.about-item {
    width: 80%;
    height: 100vh;
    font-size: 19px;
    flex-direction: column;
}

.about-item h4 {
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 800;
}


#AboutC {
    width: 100%;
    position: relative;
}

.about-end {
    width: 100%;
    height: 100vh;
    flex-direction: column;

}

.about-end h4 {
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 700;
}

.greeting {
    font-size: 2vw;
    flex-direction: column;
    padding: 25px;
}

.again-wrap {
    padding-top: 20px;
    gap: 20px;
    position: relative;
}

.ct-icon {
    position: absolute;
    left: -70px;
    bottom: -50px;
    width: 39%;
}

.ct-text {
    font-size: 6vw;
    font-weight: 600;
}

.call {
    font-size: 3vw;
}

@media screen and (max-width:768px) {
    .inform ul {
        flex-wrap: wrap;
    }

    ul.skill-list li {
        width: 20%;
    }


    .profile-inner {
        width: 100%;
        height: 100%;
        font-size: 5vw;
    }

    .a1 .introduce {
        background: var(--point);
        border-radius: 20px;
        padding: 20px;
        width: 100%;
        font-size: 2vw;
    }


    .ct-icon {
        left: -30px;
        bottom: -20px;
        width: 39%;
    }

}